* {
    box-sizing: border-box;
}

.container {
    background-color: #ede6e6;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.settings {
    display: flex;
    justify-content: center;
    margin: 16px 0;
    gap: 8px;
}
